@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/* font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif;
 */

 

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;
}

header {
    background-color: grey;

}

header .grid-layout {
    width: 80%;
    margin: 0 auto;
    background-color: yellowgreen;
}

header h1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

header h1 #logoux {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    
}