/********* Imports de fonts *********/

@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Titi";
    src: url(../assets/fonts/Titillium_Web/);
}

@font-face {
    font-family: "QuickSand";
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/********* RESET CSS *********/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/********* CLASSES GENERICAS *********/

.grid-layout {

    margin: 0 auto;
    height: 100%;
    width: 90%;

}

.alinhamento-between-center {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

/********* BODY *********/

/********* MOBILE FIRST *********/

/********* HEADER *********/

header {

    height: 60px;
    color: white;
    background-color: #1B1426;

}

/********* HEADER TOP*********/ 

header .header-top {

    display: none;

}

/********* HEADER BOTTOM *********/

header header-bottom {

    height: 60px;

}


header nav { 

    position: fixed;
    top: 60px;
    left: 0;
    width: 80vw;
    height: 100vh;
    background-color: grey;

    display: flex;
    flex-direction: column;

}

header .menu-usuario {

    display: none;
    

}

div .header-bottom-flex {

    display: flex;
    justify-content: space-between;

}



/* .phone {

    display: flex;

}

.mail {

    display: flex;

}


div .contatos {
    display: flex;
    justify-content: space-between;

    height: 29px;
    width: 410px;
    font-family: "Inter";

}

 */

