/********* Imports de fonts *********/

@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Titi Black";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: "QuickSand";
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Titi Bold";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}


/********* RESET CSS *********/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/********* CLASSES GENERICAS *********/

/* body {

    background-color: #F9AA01;

} */

.grid-layout {

    margin: 0 auto;
    height: 100%;
    width: 90%;

}

.alinhamento-between-center {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

.mostrar-menu {

    left: 0 !important;

}

.mostrar-navegar {

    right: 0 !important;

}

/********* BODY *********/

/********* MOBILE FIRST *********/

/********* HEADER *********/

header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;

    height: 60px;
    color: white;
    background-color: #1B1426;



}

/********* HEADER TOP*********/

header .header-top {

    display: none;

}

/********* HEADER BOTTOM *********/

header header-bottom {

    height: 60px;

}


header .header-bottom nav {

    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;

    width: 80vw;
    height: calc(100vh - 60px);


    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    transition: left 0.4s;

}

header .header-bottom nav>a {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-bottom: 2px solid #F9AA01;
    color: white;
    text-decoration: none;
    padding: 30px 0;
    font-family: Inter;
    font-size: 15px;


}

header .header-bottom nav a:last-of-type {

    border-bottom: none;

}

header .menu-usuario {

    position: fixed;
    top: 60px;
    right: -66px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 60px;
    height: 170px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(5px);

    transition: right 0.4s
}

header .header-bottom .midias-sociais {

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 50px;

}

div .header-bottom-flex {

    display: flex;
    justify-content: space-between;

}

header .header-bottom .midias-sociais {

    display: flex;
    justify-content: center;
    gap: 50px;

}

/********* MAIN *********/

main {

    margin-top: 60px;

}

main .main-banner {

    width: 100%;
    height: 606px;
    top: 60px;
    color: white;

    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 1\ Banner.png);
    background-repeat: no-repeat;
    background-size: cover;

}

main .cont-banner {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 75px;

}

main h1 {

    font-size: 40px;
    font-family: "Titi Black";
    color: white;
    text-shadow: 0 0 7px #FD4255;

    padding-top: 20px;

}

section .bt-sobre {

    /* padding-top: 425px; */

    color: #1B1426;
    text-decoration: none;
    font-family: "Titi Bold";
    font-size: 24px;


    width: 170px;
    height: 40px;
    background-color: #F9AA01;
    border-radius: 8px;

    text-align: center;

}

/********* SESSAO JOGOS *********/

section.jogos {

    background-color: #1B1426;
    height: 590px;

}


.flex-jgs {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

}

/********* SESSAO ENTRE PARA O TIME *********/

section.time {

    display: flex;
    width: 100%;
    height: 1535px;
    background-color: #F9AA01;
    color: white;

}

.time h2 {

    padding-top: 75px;

    color: #1B1426;
    font-size: 18px;
    font-family: "Titi Black";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;

}

.time hr {

    position: absolute;
    left: 22%;

    border: #1B1426 1px solid;
    width: 204px;

}
  
/********* SESSAO TIME, JOGOS *********/

.kill-flex {

    position: relative;
    top: 90px;

}

section .jogos-flex {

    width: 231px;
    height: 300px;
    border-radius: 8px;

    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(6px);
    position: absolute;
    left: 110px;
    top: 130px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    



}

.jogos-flex h3 {

    font-size: 18px;
    font-family: "Titi Black";
    text-shadow: #C6A5E5 0 0 6px;
    text-transform: uppercase;
    
}

.jogos-flex p {

    font-size: 13px;
    font-family: "Quicksand";
    text-align: center;
    padding-bottom: 30px;

}

/********* SESSAO TIME, PROFESSORES *********/

.val-flex {

    position: relative;
    top: 130px;

}

section .prof-flex {

    width: 231px;
    height: 300px;
    border-radius: 8px;

    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(6px);
    position: absolute;
    left: 0px;
    top: 112px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.prof-flex h3 {

    font-size: 18px;
    font-family: "Titi Black";
    text-shadow: #C6A5E5 0 0 6px;
    text-transform: uppercase;
    
}

.prof-flex p {

    font-size: 13px;
    font-family: "Quicksand";
    text-align: center;
    padding-bottom: 30px;

}

.align {

    width: 162px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

/********* SESSAO NOTICIAS *********/

section.noticias {

    height: 3675px;
    background-image: url(../assets/images/backgrund_notícias.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.titulo {

    display: flex;
    flex-direction: column;
    align-items: center;


}

.titulo h4 {

    padding-top: 60px;

    color: white;
    font-size: 18px;
    font-family: "Titi Black";
    text-transform: uppercase;

}

.titulo hr {

    margin-top: 25px;
    width: 204px;
    border: 1px solid #F9AA01;

}

  /* ARTICLES NOTICIAS */

.flex-nt {

    padding-top: 110px;
    height: 3375px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 40px;

}

article.not-rp {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 335px;
    height: 387px;

    border-radius: 8px;

    background-image: linear-gradient( to right bottom, rgba(37, 26, 52, 0.34), rgba(5, 1, 12, 0.80));

}

h5 {

    color: white;
    font-size: 24px;
    font-family: "Titi Bold";
    padding-top: 22px;

}

.not-rp p {

    color: white;
    font-family: "QuickSand";
    font-size: 16px;
    text-align: justify;
    padding-top: 18px;


}

article .align-texts {

    width: 285px;

}

/********* FOOTER *********/

footer {

    height: 1531px;
    background-image: url(../assets/images/backgroung_footer.png);
    box-shadow: inset 0 65px 25px black;

}

/********* LOGO, P, MIDIAS *********/


.logo-redes {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

}

.logo-foot {

    width: 110px;
    height: 32px;
    margin-left: 115px;

}

.logo-p {

    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 45px;

}

.logo-p p {

    color: white;
    font-size: 14px;
    font-family: "QuickSand";

}

.icones-flex {

    display: flex;
    justify-content: space-between;

    gap: 110px;

}

/********* LINKS UTEIS *********/

.titulolink-flex h6 {

    color: white;
    font-size: 30px;
    font-family: "Titi Black";


}




/* Tablets 768px */

@media screen and (min-width:768px) {}

/* Desktop */

@media screen and (min-width:1200px) {

    .grid-layout {

        width: 100%;
        max-width: 1200px;
        height: 100%;

    }

    /********* MEDIA QUERIE HEADER *********/

    header {

        height: 140px;
        position: static;
        width: 100%;

    }
    
    header .header-top {

        display: block;
        border-bottom: #F9AA01 2px solid;
        height: 50px;

    }

    header .header-top .contatos {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        font-family: "Inter";

    }

    header .header-top .midias-sociais {

        width: 140px;
        display: flex;
        justify-content: space-between;

    }

    header .header-top .contatos > a {

        display: flex;
        width: 200px;
        gap: 10px;
        align-items: center;

    }



    /* ESCONDE ELEMENTOS DESNECESSARIOS */

    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .header-bottom {

        height: 90px;

    }

    header .logo {

        width: 200px;
        gap: 10px;
        width: 200px;

    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        justify-content: space-between;
        padding-bottom: 0;
    }

    header .header-bottom nav > a {

        border: none;
        padding: 0;

    }


    header .header-bottom .menu-usuario {

        position: static;
        width: 140px;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        background-image: none;
        justify-content: space-between;

    }

    
/********* MEDIA QUERIE MAIN*********/

/********* MAIN BANNER*********/


    main {

    margin-top: 0%;

    }

    main .main-banner {

        background-image: url(../assets/images/Banner_background_1\ banner\ desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 722px;

    }

/********* MAIN JOGOS*********/


    main .jogos {

        height: 500px;

    }

    main .jogos img {

        width: 556px;
        height: 313px;

    }

    main .jogos .flex-jgs {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 500px;        

    }

}

/********* MAIN TIME*********/







