@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<h2>Edição de Equipes</h2>

<form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">

    <input type="hidden" name="IdEquipe" value="@ViewBag.e.IdEquipe">

    <label for="">Nome</label>
    <input type="text" name="Nome" value="@ViewBag.e.Nome">

    <label for="">Imagem</label>
    <input type="file" name="Imagem" value="@ViewBag.e.Imagem">

    <button type="submit">Atualizar</button>

</form>