/********** Import da fonte **********/

@font-face {
    font-family: Courier;
    src: url(../assets/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

@font-face {
    font-family: "Bebas";
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "OpenS";
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}


/********** reset **********/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/********** Grid-layout **********/

.grid-layout {
    max-width: 1200px;
    margin: 0 auto;
    /* border: solid palegreen; */
    height: 100%;
    width: 100%;
}
 
/* Esconde menu hamburguer no Desktop */

header #menu-hamburguer {

    display: none;

}

/********** DESKTOP **********/

body {
    background-color: #080324;
}


/********** HEADER **********/

header {
    background-color: #F9003D;
    height: 60px;
}

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    /* border: 1px solid white; */
}

header nav a {
    padding: 15px 25px;
    font-family: "Bebas";
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav a:hover {
    background-color: white;
    color: #F9003D;
}


/********** MAIN **********/

main .banner {
    width: 100%;
    height: 740px;
    color: white;
    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main .banner #bannerinfo h1 {
    font-family: "Bebas";
    color: white;
    font-size: 96px;
    text-align: justify;
    border-bottom: 2px solid #FFAF00;
}

main .banner #bannerinfo img {
    margin-top: 25px;
    margin-left: 25px;
}

main .banner-flex {
    display: flex;
    align-items: center;
}


/********** ARTICLE MAIN **********/

div #bannerinfo p {
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    color: #F9003D;
    text-transform: uppercase;
}

main .banner #bannerinfo {
    width: 550px;
}


/********** SECTION PROJETOS **********/

section .section-projetos {
    height: 800px;
}

/********** DIV PROJETOS **********/

div .projetos {
    width: 500px;

}

div .projetos h2 {
    margin-top: 75px;
    margin-bottom: 80px;
    font-family: "Bebas";
    color: #F9003D;
    font-size: 64px;
}


/********** DIV PARTICIPANTES **********/

div .participantes {
    margin-top: 240px;
    color: white;
    width: 588px;
}

div .participantes h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
}

div .participantes h4 {
    margin-top: 25px;
    font-family: "Bebas";
    font-size: 64px;
    color: #FFAF00;
}

div p {
    padding-top: 25px;
    font-size: 18px;
    font-family: "OpenS";
}

/********** SECTION FLEX **********/


.projetos-flex {
    display: flex;
    justify-content: space-between;
    align-items: center ;

}

/********** SECTION LDD **********/

section .ldd {

    height: 200px;
    width: 1440px;

}



/********** SMARTPHONE **********/

@media screen and (max-width: 767px)  {
    
    main {
    
        display: none;
    
    }

    header nav {

       position: fixed;
       top: 60px;
       left: 0;
       width: 80vw;
       max-width: 360px;
       height: 100vh;
       background-color: #F9003D;
       border: 1px solid black;
       
       flex-direction: column;
       justify-content: space-around;
       align-items: center;


    }

    header nav a {

        width: 150px;
        margin-bottom: 30px;
        border-left: 2px dashed white ;
        border-radius: 0;
        font-size: 24px;

    }

    header #menu-hamburguer {

        display: block;
    
    }

}
